name: CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Simulate Build
        run: echo "Build completed successfully"

      - name: Simulate Tests
        run: echo "All tests passed"
